@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@layer base {
  :root {
    --background: #1c1c1c;
    --foreground: #d0d0d0;
    --card: #1c1c1c;
    --card-foreground: #d0d0d0;
    --popover: #d0d0d0;
    --popover-foreground: #1c1c1c;
    --primary: #4d4d4d;
    --primary-foreground: #d0d0d0;
    --secondary: #d0d0d0;
    --secondary-foreground: #4d4d4d;
    --muted: #d0d0d0;
    --muted-foreground: #4d4d4d;
    --accent: #d0d0d0;
    --accent-foreground: #1c1c1c;
    --destructive: #e63946;
    --destructive-foreground: #1c1c1c;
    --border: #d0d0d0;
    --input: #d0d0d0;
    --ring: #1c1c1c;
    --radius: 0.5rem;
    --chart-1: #e63946;
    --chart-2: #2a9d8f;
    --chart-3: #264653;
    --chart-4: #f4a261;
    --chart-5: #e76f51;
  }

  .dark {
    --background: #1c1c1c;
    --foreground: #f4f4f4;
    --card: #1c1c1c;
    --card-foreground: #f4f4f4;
    --popover: #1c1c1c;
    --popover-foreground: #f4f4f4;
    --primary: #f4f4f4;
    --primary-foreground: #1c1c1c;
    --secondary: #4d4d4d;
    --secondary-foreground: #f4f4f4;
    --muted: #4d4d4d;
    --muted-foreground: #f4f4f4;
    --accent: #4d4d4d;
    --accent-foreground: #f4f4f4;
    --destructive: #9b2226;
    --destructive-foreground: #f4f4f4;
    --border: #4d4d4d;
    --input: #4d4d4d;
    --ring: #4d4d4d;
    --chart-1: #0077b6;
    --chart-2: #1a759f;
    --chart-3: #4cc9f0;
    --chart-4: #7209b7;
    --chart-5: #f72585;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}